/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header a.inicio{
    color:#fff;
    font-size: 1.6rem;
}
header nav a,
header nav a:hover{
    color:#fff;
}

.top-bar{
    background-color: transparent;
    height: 4.2rem;
    line-height: 4.2rem;
}

section.destacada, section.destacada-fuente{
    position:relative;
}
section.destacada img.center {
    object-fit: cover;
    width: 1920px;
    height: 950px;
}
section.destacada-fuente img.centerf{    
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 1920px;
    height: 400px;
}
section.destacada .contenido,
section.destacada-fuente .contenido{
    top: 50%;
    left:0;
    width: 100%;
    position: absolute;
    z-index:20;
}

section.destacada .contenido h1{
    padding: 30px 50px;
    border: 1px solid #fff  ;
    color: #fff;
    font-size: 2rem;
    text-transform:uppercase;
    margin: 0 auto;
    margin-top: 15%;
    width: 60%;
}

section.destacada-fuente .contenido h1{
    padding: 30px 50px;
    border: 1px solid #fff  ;
    color: #fff;
    font-size: 2rem;
    text-transform:uppercase;
    margin: 0 auto;
    margin-top: 2%;
    width: 60%;
}

section.agencia{
    background-color: #fff;
    padding: 10px;
    color: #000;
}

section.agencia .borde{
    border:1px solid #b7aeb6;
}

section.agencia p{
    margin-bottom: 40px;
}

section.servicios{
    background-color: #9eecd2;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    padding-top: 30px;
    padding-bottom: 2%;
}

section.servicios h2{
    padding-bottom: 2%;
}

/*
section.servicios small{
    font-style: italic;
}
*/

section.contacto{
    background-color: #482DA8;
    padding: 10px;
    color: #fff;
}
section.contacto .borde{
    border: 1px solid #fff;
    padding: 0% 3% 0% 3%;
}
section.contacto p.h2{
    font-size: 2.5em;
}
section.contacto .button{
    background-color: #67727c;
    border: 2px solid #fff;
    color:#fff;
    padding: 15px 50px;
}

footer{
    background-color: #fff;
    padding-top: 30px;
}
footer nav a,
footer nav a:hover{
    color:#000;
}
footer hr{
    display:block;
    height: 1px;
    border:0;
    border-top: 1px solid #595d60;
    margin:1rem 0;
    padding:0;
}
footer p{
    color:#000;
}

section.informacion{
    padding: 30px 0;
}
section.informacion h2{
    padding: 2%;
}
section.informacion li{
    margin: 1% 0 1% 0;
}
section.proyectos{
    padding: 30px 0;
}
section.proyectos p{    
    font-size: 1.5em;
}
header .fuentes a.inicio{
    color:#000;
    font-size: 1.6rem;
}
header .fuentes nav a,
header .fuentes nav a:hover{
    color:#000;
}
section.fuentes{     
    background-color: rgba(219, 233, 255, 0.507);
    padding-top: 2%;
}
/*
section.fuentes h2{
    font-size: 72px;
    font-family: 'Open Sans', sans-serif;
    background: -webkit-linear-gradient(45deg, rgb(5, 98, 155), rgb(118, 1, 227) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}*/
section.fuentes a{
    font-size: 1.5em;
    color: rgb(51, 51, 51);
}
section.fuentes a:hover{
    font-size: 1.75em;
    color: rgb(29, 13, 173);     
}
section.formulario{
    padding-top: 3%;
}
section.formulario h2{
    padding-bottom: 1%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}